<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Salud.Ocupacional.DM.Properties.Settings.DB_A3240F_diabetesConnectionString"
            connectionString="Data Source=10.145.245.239;Initial Catalog=DB_A3240F_diabetes;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Salud.Ocupacional.DM.Properties.Settings.respiratorConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=respirator;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Salud.Ocupacional.DM.Properties.Settings.respiratorConnectionString1"
            connectionString="Data Source=.;Initial Catalog=respirator;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Salud.Ocupacional.DM.Properties.Settings.respiratorConnectionString2"
            connectionString="Data Source=localhost;Initial Catalog=respirator;Persist Security Info=True;User ID=javi"
            providerName="System.Data.SqlClient" />
        <add name="Salud.Ocupacional.DM.Properties.Settings.respiratorConnectionString3"
            connectionString="Data Source=localhost;Initial Catalog=respirator;Persist Security Info=True;User ID=javi;Password=050698jv"
            providerName="System.Data.SqlClient" />
        <add name="Salud.Ocupacional.DM.Properties.Settings.respiratorConnectionString4"
            connectionString="Data Source=DESKTOP-TPBFC7T\SQLEXPRESS;Initial Catalog=respirator;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>