
@using Salud.Ocupacional.BE;
@model CondicionBE.ResponseCondicionBE

@using (Ajax.BeginForm("DeleteCondicion", "Condicion"
    , new AjaxOptions() { HttpMethod = "Post", UpdateTargetId = "frmCondicionD" }
    , new { id = "frmCondicionD", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-Alert-Confirm">
        <div class="col-md-11">
            <div class="modal-title letra-acl Alert-Head" id="myModalLabel">
                <i class="fa mdi mdi-delete"></i> Confirmación de Eliminar
            </div>
        </div>
        <div class="col-md-1">
            <button type="button" class="close Alert-Head" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
    </div>
    <div class="modal-body">
        <h5 class="modal-title letra-marron" id="myModalLabel">
            Esta seguro de eliminar la condición <strong>@Model.WorkCondition</strong>
        </h5>
        @Html.TextBoxFor(m => m.Activo, "false", new { @class = "HiddenFor" })
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-danger"><i class="fa fa-remove"></i> Eliminar</button>
    </div>
}

