
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container body">
    <div class="main_container">
        <!-- page content -->
        <div class="col-md-12"><br /> </div>
        <div class="col-md-12">
            <div class="col-middle">
                <div class="text-center text-center">
                    <h1 class="letra-acl" style="font-size:60px;"><i class="fa fa-puzzle-piece"></i></h1>
                    <h2 class="letra-acl"><i class="fa fa-exclamation-triangle"></i> Página en construcción.</h2>
                </div>
            </div>
        </div>
        <!-- /page content -->
    </div>
</div>